// Don't use variables! 
// *Only reference*

@background      : linear-gradient(#111112, #2a292a) fixed;
@primary         : rgba(177, 156, 118, 1);
@primary-hover   : rgba(177, 156, 118, 0.8);
@secondary       : rgba(224, 216, 200, 1);
@secondary-hover : rgba(224, 216, 200, 0.8);

@mix-primary: #F2780C;