/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
body {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  max-width: 690px;
  margin: auto;
}
body > h1 > .mix {
  margin-top: 4px;
  display: flex;
  align-items: center;
}
body > h1 > .mix > a {
  display: flex;
  align-items: center;
  margin-right: 4px;
}
body > h1 > .mix > a > img {
  margin-right: 4px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
footer {
  margin-top: 20px;
}
.form-container {
  margin-top: 20px;
}
.form-container:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.form-container > .arrow {
  float: left;
  margin-top: 75px;
  margin-left: 20px;
  margin-right: 20px;
}
@media only screen and (max-width: 719px) {
  .form-container > .arrow {
    display: none;
  }
}
.form-container > .mobile-arrow {
  display: none;
  transform: rotate(90deg);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 719px) {
  .form-container > .mobile-arrow {
    display: block;
  }
}
.form-container > .form {
  float: left;
  width: 280px;
  height: 200px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 20px;
}
@media only screen and (max-width: 719px) {
  .form-container > .form {
    float: none;
    width: auto;
  }
}
.history {
  margin-top: 20px;
  background-color: #ffffff;
  color: #000000;
  overflow-y: scroll;
  padding: 10px;
  height: 160px;
}
.history > h2 {
  font-weight: bold;
}

