/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
  @import url("https://p.typekit.net/p.css?s=1&k=zoc8uhz&ht=tk&f=15665.15666&a=43843172&app=typekit&e=css");
}
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  background: linear-gradient(#111112, #2a292a) fixed;
  margin: auto;
  color: white;
}
.swaper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swaper > .form-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 36px 0px 36px;
  width: 100%;
}
.swaper > .form-container > .arrow {
  float: left;
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 20px;
}
.swaper > .form-container > .form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.swaper > .form-container > .form > .chain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swaper > .form-container > .form > .chain > img {
  width: 52px;
  height: 52px;
}
.swaper > .form-container > .form > .chain > p {
  margin-top: 12px;
  font-size: 12px;
  color: #E0D8C8;
}
.swaper > .form-container > .form > .chain > select {
  padding: 6px 8px;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: none;
  max-width: 138px;
  width: 100%;
  margin-top: 12px;
}
.swaper > .form-container > .form > .balance {
  margin-top: 12px;
  font-size: 14px;
}
.swaper > .form-container > .form > .input-container {
  width: 100%;
  margin-top: 12px;
}
.swaper > .form-container > .form > .input-container > input {
  color: white;
  background-color: black;
  padding: 12px;
  border-radius: 4px;
}
.swaper > .form-container > .form > .button-container > .send-button {
  margin-top: 8px;
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  background-color: #b19c76;
  border-radius: 4px;
}
.swaper > .form-container > .form > .button-container > .send-button:hover {
  background-color: rgba(177, 156, 118, 0.9);
}
.swaper > .form-container > .form > .button-container > .send-button:active {
  background-color: rgba(177, 156, 118, 0.8);
}
.swaper > .form-container > .form > .button-container > .connect-button {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  background-color: #b19c76;
  border-radius: 4px;
}
.swaper > .form-container > .form > .button-container > .connect-button:hover {
  background-color: rgba(177, 156, 118, 0.9);
}
.swaper > .form-container > .form > .button-container > .connect-button:active {
  background-color: rgba(177, 156, 118, 0.8);
}
.swaper > .fee-container {
  padding: 0px 36px;
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.swaper > .fee-container > .content {
  display: flex;
  align-items: baseline;
}
.swaper > .fee-container > .content > h3 {
  font-weight: bold;
}
.swaper > .fee-container > .content > span {
  margin-left: 4px;
  color: #e0d8c8;
}
.swaper > .fee-container > p {
  font-size: 14px;
}
.swaper > .received-container {
  padding: 0px 36px;
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.swaper > .received-container > h3 {
  font-weight: bold;
}
.swaper > .received-container > p {
  font-size: 14px;
}
.swaper > .warning {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 392px;
  margin: 30px 0px;
  padding: 11px 0px;
  background: rgba(224, 216, 200, 0.8);
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
}
.swaper > .warning > img {
  margin-right: 4px;
}
.swaper > .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.swaper > .button-container > button {
  background-color: #b19c76;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  margin-right: 12px;
  margin-bottom: 24px;
  padding: 12px 48px;
}
.swaper > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.9);
}
.swaper > .button-container > button:active {
  background-color: rgba(177, 156, 118, 0.8);
}
.swaper > .history {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}
.swaper > .history > h2 {
  font-weight: bold;
  margin-top: 16px;
}
.swaper > .history > hr {
  width: 95%;
  border: none;
  height: 1px;
  color: rgba(224, 216, 200, 0.8);
  background-color: rgba(224, 216, 200, 0.8);
}
.swaper > .history > .sended-title {
  font-size: 14px;
  font-weight: bold;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
}
.swaper > .history > .sended-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.swaper > .history > .sended-list > .sended {
  font-size: 14px;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.layout {
  max-width: 668px;
  margin: auto;
  padding: 0px 20px;
}
.layout > header {
  display: flex;
  margin-top: 52px;
  margin-bottom: 32px;
  justify-content: space-between;
}
.layout > header > h1 > img {
  width: 172px;
  height: 20px;
}
.layout > header > h2 > img {
  width: 60px;
  height: 20px;
}
.layout > main {
  width: 100%;
  min-height: 580px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.layout > footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  margin-top: 32px;
  color: #999999;
}
.layout > footer > .sns > a {
  color: #999999;
  text-decoration: none;
  margin-left: 16px;
  padding: 4px 8px;
  font-size: 12px;
}
.layout > footer > .sns > a:hover {
  border-radius: 4px;
  background-color: rgba(177, 156, 118, 0.5);
}

